<div class="collapse navbar-collapse" id="main-nav">
  <ul class="nav navbar-nav">
    <li><a href="/">Main</a></li>
    <!-- villages -->
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        Communities <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="/communities/aboiboi.html">Aboiboi</a></li>
        <li><a href="/communities/angole.html">Angole</a></li>
        <li><a href="/communities/anyara.html">Anyara</a></li>
        <li><a href="/communities/garama.html">Garama</a></li>
        <li><a href="/communities/okidi.html">Okidi</a></li>
        <li><a href="/communities/olwa.html">Olwa</a></li>
        <li><a href="/communities/orungo.html">Orungo</a></li>
        <li><a href="/communities/sugur.html">Sugur</a></li>
        <li><a href="/communities/tubur.html">Tubur</a></li>
        <li><a href="/communities/usuk.html">Usuk</a></li>
      </ul>
    </li>
  </ul>
</div>